<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navBar.ejs'); %>
    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <p style="font-weight: bold;"><%= pergunta.descricao %></p>
        <hr>

        <h3>Answers</h3>
        <% respostas.forEach(r=>{ %>
            <hr>
            <p><%= r.corpo %></p>
        <% }) %>

        <form method="POST" action="/save-answer">
            <label>Your Answer</label>
            <textarea placeholder="Type here" name="Answer" class="form-control"></textarea>
            <br>
            <input type="hidden" name="AnswerID" value="<%= pergunta.id %>" >
            <button type="submit" class="btn btn-success">Send</button>
        </form>
    </div>
</body>
<%- include('partials/footer.ejs'); %>